body {
    background-image: url(imgs/webpage\ bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: homevideo;
    margin: 0;
}

@font-face {
    font-family: 'homevideo';
    src: url(fonts/HomeVideo-Regular.woff);
    font-weight: normal;
    font-style: normal;
}

h3 {
    font-family: minecraft;
    margin: 0;
}

@font-face {
    font-family: 'minecraft';
    src:url(fonts/Minecraft.woff);
    font-weight: normal;
    font-style: normal;
}

.reminder {
    position: absolute;
    top: 51%;
    left: 63%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    padding: 20px;
}

.info_yooorra h3 {
    position: absolute;
    top: 69%;
    left: 38%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    padding: 20px;
    line-height: 1.8;
    margin: 5px 0;
}

.song {
    position: absolute;
    top: 61%;
    left: 60.5%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    padding: 20px;
}

.text_over_window {
    position: absolute;
    top: 30%;
    left: 60%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    padding: 20px;
}

.main_window {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.main_window img {
    height: 650px;
    width: auto;
    display: block;
    margin: 0 auto;
}

.main_window_gif {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.main_window_giff {
    width: 30px;
    height: 30px;
    margin-inline: 8px;
}