.wattpad {
  position: absolute;
  top: 39%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.wattpad img {
  height: 80px;
  width: auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.aff {
  position: absolute;
  top: 39%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.aff img {
  height: 80px;
  width: auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.x {
  position: absolute;
  top: 39%;
  left: 68%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.x img {
  height: 80px;
  width: auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.kofi {
  position: absolute;
  top: 51%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px;
}

.kofi img {
  height: 80px;
  width: auto;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.overlay-frame {
  position: absolute;
  top: 70.5%; /* Adjust to place iframe vertically over the window */
  left: 60%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center both vertically and horizontally */
  width: 20%; /* Set iframe width */
  z-index: 10; /* Ensures iframe is above other elements */
}